
#
# configure open-sdk-for-device
#

#
# configure tuya cloud service
#
CONFIG_MBEDTLS_CONFIG_FILE="tuya_tls_config.h"
CONFIG_TUYA_SECURITY_LEVEL=1
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_ENABLE_BT_NETCFG=y
CONFIG_ENABLE_BT_CTRL=y
CONFIG_BT_ADV_INTERVAL_MIN=30
CONFIG_BT_ADV_INTERVAL_MAX=60
CONFIG_BT_REMOTE_CTRL_SCAN_INTERVAL=30
CONFIG_BT_REMOTE_CTRL_SCAN_WINDOWS=10
CONFIG_ENABLE_NIMBLE=y
CONFIG_TUYA_HS_BLE_HOST_TASK_PRIORITY=9
CONFIG_TUYA_HS_BLE_HOST_STACK_SIZE=5120
# end of configure tuya cloud service

#
# configure enable/disable liblwip
#
# CONFIG_ENABLE_LIBLWIP is not set
# end of configure enable/disable liblwip

#
# configure mbedtls
#
# CONFIG_ENABLE_MBEDTLS_DEBUG is not set
# CONFIG_ENABLE_CUSTOM_CONFIG is not set
# end of configure mbedtls

CONFIG_ENABLE_CJSON=y

#
# configure enable/disable kv
#
CONFIG_ENABLE_LITTLEFS=y
# end of configure enable/disable kv

#
# configure system parameter
#
CONFIG_STACK_SIZE_TIMERQ=4096
CONFIG_STACK_SIZE_WORK_QUEUE=5120
CONFIG_MAX_NODE_NUM_WORK_QUEUE=100
CONFIG_STACK_SIZE_MSG_QUEUE=4096
CONFIG_MAX_NODE_NUM_MSG_QUEUE=100
# end of configure system parameter
# end of configure open-sdk-for-device

#
# configure board t3
#
CONFIG_OPERATING_SYSTEM=98
CONFIG_LITTLE_END=1
# CONFIG_ENABLE_FILE_SYSTEM is not set
CONFIG_ENABLE_WIFI=y
# CONFIG_ENABLE_WIRED is not set
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_HCI=y
CONFIG_ENABLE_RTC=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_UART=y
CONFIG_ENABLE_FLASH=y
CONFIG_TUYA_FLASH_TYPE_MAX_PARTITION_NUM=10
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_GPIO=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_SPI=y
CONFIG_ENABLE_TIMER=y
CONFIG_ENABLE_DISPLAY=y
# CONFIG_ENABLE_MEDIA is not set
CONFIG_ENABLE_PM=y
# CONFIG_ENABLE_STORAGE is not set
# CONFIG_ENABLE_DAC is not set
# CONFIG_ENABLE_I2S is not set
CONFIG_ENABLE_WAKEUP=y
# CONFIG_ENABLE_REGISTER is not set
CONFIG_ENABLE_PINMUX=y
# CONFIG_ENABLE_PLATFORM_AES is not set
# CONFIG_ENABLE_PLATFORM_SHA256 is not set
# CONFIG_ENABLE_PLATFORM_MD5 is not set
# CONFIG_ENABLE_PLATFORM_SHA1 is not set
# CONFIG_ENABLE_PLATFORM_RSA is not set
# CONFIG_ENABLE_PLATFORM_ECC is not set
# end of configure board <T3>
