menu "configure t3"
    config OPERATING_SYSTEM
        int
        default 98
        ---help---
            100     /* LINUX */
            98      /* RTOS */  

    config LITTLE_END
        int
        default 1
        ---help---
            0       /* big endian */
            1       /* little endian */

    config ENABLE_WIFI
        bool "ENABLE_WIFI --- support wifi"
        default y

    menuconfig ENABLE_BLUETOOTH
        bool "ENABLE_BLUETOOTH --- support BLE"
        default n
        if (ENABLE_BLUETOOTH)
            config ENABLE_HCI
                bool "ENABLE_HCI --- support BLE hci "
                default n
        endif
    config ENABLE_RTC
        bool "ENABLE_RTC --- support rtc"
        default n

    config ENABLE_WATCHDOG
        bool "ENABLE_WATCHDOG --- support watchdog"
        default n

    config ENABLE_UART
        bool "ENABLE_UART --- support uart"
        default y

    menuconfig ENABLE_FLASH
        bool "ENABLE_FLASH --- support flash"
        default y

        if (ENABLE_FLASH)
            config TUYA_FLASH_TYPE_MAX_PARTITION_NUM
                int "TUYA_FLASH_TYPE_MAX_PARTITION_NUM --- max support flash parttion number"
                default 10
        endif
    config ENABLE_ADC
        bool "ENABLE_ADC --- support adc"
        default n

    config ENABLE_PWM
        bool "ENABLE_PWM --- support pwm"
        default n

    config ENABLE_GPIO
        bool "ENABLE_GPIO --- support gpio"
        default y
    
    config ENABLE_I2C
        bool "ENABLE_I2C --- support i2c"
        default n

    config ENABLE_SPI
        bool "ENABLE_SPI --- support spi"
        default n                                

    config ENABLE_TIMER
        bool "ENABLE_TIMER --- support hw timer"
        default n                                

    endmenu
