CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_SPI=y
CONFIG_ENABLE_TIMER=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_BOARD_CHOICE_T3=y
CONFIG_ENABLE_HCI=y
CONFIG_ENABLE_RTC=y
CONFIG_MODULE_CHOICE_T3_U=y
CONFIG_TUYA_SECURITY_LEVEL=1
CONFIG_ENABLE_BT_SERVICE=y
